header nav {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

html,
  body,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    cursor: default;
  }

  @font-face {
    font-family: 'Stretch Pro';
    src: url(assets/fonts/stretch-pro.otf);
  } @font-face {
    font-family: 'Overpass Mono';
    src: url(assets/fonts/overpass_mono.ttf);
  }
  
  :root {
    --light: #ffffff;

    --dark: #0A070B;
    --darkb:#444;

    --c1: #ff7e00;
    --c1b: #ba5d00;
    --c1c: #ff9831;
    --c1d: #ffefe0;

    --c2:#564483;
    --c2b:#f2edff;

    --c3:#004f30;
    --c3b:#003922;
    --c3c:#007a49;
  }
  
  html {
    font-size: 10px;
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--light);
    color: var(--dark);
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  body,
  button,
  input {
    font-family: 'Stretch Pro', sans-serif;
  }

  input:focus {
    outline:none;
  }
  
  a {
    text-decoration: none;
    color: unset;
    user-select: none;
    cursor: pointer;
  }
  
  b {
    font-weight: 900;
  }
  
  img {
    user-select: none;
    max-width: 100%;
    object-fit: contain;
  }
  
  ::-webkit-scrollbar {
    width: 1rem;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--light);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--c2);
  }

  .width1 {
    width: clamp(10rem, 82vw, 130rem);
    margin:0 auto;
  } 
  
  /* END OF GLOBAL STYLES */


  ::selection {
    background-color:var(--c3c);
    color:var(--light);
  }













  header .logo {
    width: clamp(18rem, 62vw, 25rem);
    margin: 0 auto 0 0;
  }

  header.width1 {
    position: relative;
    display: flex;
    justify-content: right;
    gap: 3rem;
    align-items: center;
    padding: 4rem 0 2rem 0;
    margin-bottom: clamp(1rem, 6vw, 3rem);
  } header nav {
    left: 0;
    right: 0;
    top: clamp(10rem, 30vw, 13rem);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    background-color: var(--c3);
    padding: 2rem clamp(1rem, 5vw, 3rem);
    transition: opacity 0.15s ease, visibility 0.15s ease, transform 0.1s ease;
    transform: translateY(-0.6rem);
    z-index: 2;
    border-radius: 0.9rem;
    border: 1px solid #222;
  } .showing_nav {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  } .nav_ctnr {
    display: flex;
    flex-direction: column;
    gap: clamp(1.2rem, 3vw, 2.5rem);
    color: var(--light);
  } .nav_ctnr a {
    padding: 0.6rem;
    border: 0.1rem solid var(--light);
    border-radius: 0.4rem;
    font-size: clamp(1rem, 4vw, 1.2rem);
    font-weight: 100;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }

  .hambt {
    width: clamp(3rem, 9vw, 4.1rem);
    height: clamp(3rem, 9vw, 4.1rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    padding: 0.3rem 0.2rem;
    box-sizing: border-box;
    background-color: var(--light);
    padding: clamp(0.1rem, 2vw, 0.6rem) clamp(0.1rem, 1vw, 0.6rem);
    border-radius: 0.6rem;
  } .hambt div {
    background-color: var(--c1);
    height: 0.5rem;
    border-radius: 0.15rem;
  }

  header .cta_ctnr {
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    background-color: #14002fed;
    padding: 1.2rem 0;
    z-index: 3;
    transform: translateY(100%);
  }







  .cta {
    font-size: clamp(1.2rem, 3.5vw, 1.5rem);
    text-align: center;
    color: var(--light);
    border-radius: 0.8rem;
    padding: clamp(0.6rem, 2.5vw, 1rem);
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.3rem;
    box-shadow: inset 0 0 0 0.2rem var(--c1), inset 0 0 0 0.3rem var(--light), 0 0.5rem 0rem 0rem var(--c1b);
    transition: box-shadow 0.5s ease, background-color 0.5s ease, transform 0.5s ease;
    line-height: 1.4;
    font-family: 'Stretch Pro', sans-serif;
  } header .cta {
    background-color: var(--c1);
    display: block;
    margin: 0 auto;
    width: clamp(10rem, 82vw, 27rem);
  } .intro_ctnr .cta:hover {
    box-shadow: inset 0 0 0 0.2rem var(--c3), inset 0 0 0 0.3rem var(--light), 0 0.1rem 0rem 0rem var(--c3b);
  } .cta:hover {
    transform:translateY(0.4rem);
    transition: box-shadow 0.1s ease, background-color 0.1s ease, transform 0.1s ease;
  } header .cta:hover, .roadmap_section .cta:hover {
    background-color:var(--c1c);
    box-shadow: inset 0 0 0 0.2rem var(--c1), inset 0 0 0 0.3rem var(--light), 0 0.1rem 0rem 0rem var(--c1b);
  } .intro_ctnr .cta:hover {
    background-color:var(--c3c);
    box-shadow: inset 0 0 0 0.2rem var(--c3), inset 0 0 0 0.3rem var(--light), 0 0.1rem 0rem 0rem var(--c3b);
  }






  .definition_section, .roadmap_section, body {
    background-image: url(assets/txt1.png);
    background-size: 1.5rem;
    background-position: center;
  }

  .intro_sec {
    position: relative;
    box-shadow: inset 0 -8rem 10rem -10rem var(--dark);
  } .intro_ctnr {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: clamp(3rem, calc(20vw - 4rem), 5rem);
  } .intro_ctnr .content {
    font-size: clamp(1.2rem, 4.2vw, 2.3rem);
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 4vw, 1.6rem);
    letter-spacing: 0.1rem;
    margin: 0 auto;
    align-items: flex-start;
    text-align: center;
    line-height: 1.4;
  } .homem {
    width:clamp(16rem, 80vw, 55rem);
    margin:0 auto;
  } .intro_ctnr h2 {
    color:var(--c2);
    font-weight: 100;
  } .intro_ctnr strong {
    font-weight: 100;
  } .intro_ctnr h2 strong {
    background-color: var(--c2b);
  } .intro_ctnr h1 strong {
    background-color: var(--c1d);
  } h1 {
    color:var(--c1);
    font-weight: 100;
  } .intro_ctnr .cta {
    background-color: var(--c3);
    width: clamp(21rem, calc(90vw - 12rem), 36rem);
    box-shadow: inset 0 0 0 0.2rem var(--c3), inset 0 0 0 0.3rem var(--light), 0 0.5rem 0rem 0rem var(--c3b);
    margin: 0 auto;
  }






  .det1 {
    background-image: url(assets/det1.svg);
    left:0;
    background-position: right center;
  } .det2 {
    background-image: url(assets/det2.svg);
    right:0;
    background-position: left center;
  } .det1, .det2 {
    position: absolute;
    bottom: 0;
    height: clamp(24rem, calc(25vw + 35vh), 70rem);
    background-size: cover;
    background-repeat: no-repeat;
    width: clamp(10rem, calc(35vw - 18rem), 26rem);
  }






  .definition_section {
    padding: clamp(4rem, 15vw, 7rem) 0 clamp(4rem, 15vw, 12rem);
    background-color: var(--c1);
    min-width: unset;
    color:var(--light);
    overflow: hidden;
  } .definition_section .content {

  } .definition_section .content p {
    font-size: clamp(1.3rem, 4.4vw, 2.4rem);
    font-family: 'Overpass Mono';
    margin: 2rem 0;
    max-width: 50rem;
    line-height: 1.6;
  } .boa_jogada, .prox_jogada {
    width: clamp(16rem, 100vw, 50rem);
  } .definition_section .smartphone {
    margin: 4rem auto 8rem auto;
    transform: scale(1.2) rotate(3deg);
    width: clamp(16rem, 80vw, 50rem);
  }












  .roadmap_section {
    background-color:var(--c2);
    color: var(--c1d);
    padding: 0 0 clamp(6rem, 10vw, 11rem) 0;
  } .roadmap_section .content {
    display: flex;
    flex-direction: column;
    gap: clamp(1.4rem, 7vw, 9rem);
  } .prox_jogada {
    transform: translateY(-47%);
  } .roadmap_section ol {
    padding: 0 0 0 3rem;
    font-family: 'Overpass Mono';
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 5vw, 2rem);
    font-weight: 600;
    line-height: 1.5;
    max-width: 50rem;
  } .roadmap_section li {

  } .roadmap_section li::marker {
    color:var(--c1);
    font-weight: 100;
    font-size: clamp(2rem, 6vw, 3rem);
    font-family: 'Stretch Pro', sans-serif;
  } .roadmap_ilus {
    width: clamp(22rem, 82vw, 62rem);
  } .roadmap_section li h3 {
    font-weight: 600;
    font-size: clamp(1.5rem, 6vw, 2.5rem);
  } .roadmap_section li p {
    font-size: clamp(1.2rem, 3.8vw, 1.7rem);
    font-weight: 100;
    margin: 0.6rem 0 1rem 0;
  } .roadmap_section .cta {
    background-color: var(--c1);
    width: clamp(16rem, calc(90vw - 12rem), 21rem);
    display: inline-block;
    margin-bottom: 1rem;
  }











footer {
  background-color: var(--c2);
  padding: clamp(4rem, 10vw, 5rem) 0;
  margin: clamp(4rem, 10vw, 6rem) 0;
  box-sizing: border-box;
} footer .logo {
  width: clamp(22rem, 75vw, 35rem);
} footer .width1, footer nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(1rem, 7vw, 2.5rem);
} footer nav, .icons_row {
  flex-direction: row;
} footer .width1 {
  flex-direction: column;
} .icons_row a {
  background-position: center;
  background-size: 62%;
  width: clamp(3rem, 11vw, 4.2rem);
  height: clamp(3rem, 11vw, 4.2rem);
  border-radius: 0.4rem;
  background-color: rgba(255,255,255,0.04);
  background-repeat: no-repeat;
} .discord {
  background-image: url(assets/discord.svg);
} .telegram {
  background-image: url(assets/telegram.svg);
} .twitter {
  background-image: url(assets/twitter.svg);
} .github {
  background-image: url(assets/github.svg);
} .medium {
  background-image: url(assets/medium.svg);
}



































  @media (min-width:820px) {

    header .cta_ctnr {
      position: inherit;
      background-color: unset;
      padding: unset;
      margin-left: clamp(0rem, calc(21vw - 21rem), 3rem);
      transform:unset;
    } header .cta {
      width: unset;
      white-space: nowrap;
      padding: 1rem 3rem;
    }

    .cta {
      font-size: clamp(1.2rem, 3.5vw, 1.3rem);
    }
  
    .intro_sec header {
      margin-bottom: clamp(1rem, 5vw, 4rem);
    } .intro_ctnr {
      flex-direction: row-reverse;
      justify-content: center;
    } .intro_ctnr a, .intro_ctnr .cta {
      margin: 1rem 0 0 0;
      width: clamp(21rem, calc(30vw - 8rem), 32rem);
    } .intro_ctnr .content {
      margin: unset;
      width: clamp(26rem, calc(30vw - 4rem), 46rem);
      font-size: clamp(1.7rem, 1.5vw, 2.3rem);
      gap: clamp(0rem, calc(4vw - 3rem), 2rem);
      padding-top: clamp(0rem, calc(10vw - 12rem), 5rem);
      text-align: left;
    } .homem {
      margin:unset;
      width: clamp(32rem, 34vw, 50rem);
    }

    .det1, .det2 {
      top:0;
      height:unset;
    }
    .definition_section {
      overflow: unset;
    } .definition_section .width1 {
      display: flex;
      gap: 2rem;
      align-items: center;
    } .definition_section .smartphone {
      margin: 0 auto;
      transform: scale(1.7) rotate(-8deg);
      width: clamp(16rem, 24vw, 32rem);
    } .definition_section .content p {
      font-size: clamp(1.3rem, 2.3vw, 2rem);
      width: clamp(35rem, 40vw, 41rem);
      line-height: 1.6;
    } .boa_jogada, .prox_jogada {
      width: clamp(13rem, 40vw, 50rem);
    }







    .roadmap_section .content {
      flex-direction: row-reverse;
      justify-content: left;
      align-items: flex-start;
    } .roadmap_section ol {
      font-size: clamp(1.6rem, 2vw, 2.3rem);
      font-weight: 400;
      max-width: 40rem;
      gap: clamp(0rem, calc(10vw - 9rem), 1.6rem);
    } .roadmap_ilus {
      width: clamp(38rem, 42vw, 72rem);
      flex: 1;
      position: sticky;
      top: 11rem;
    }

    footer .width1 {
      flex-direction: row;
      justify-content: space-between;
    } footer nav {
      justify-content: space-between;
      width: clamp(20rem, 40vw, 42rem);
    } .icons_row a {
      transition: background-color 0.4s ease;
    } .icons_row a:hover {
      background-color:rgba(255,255,255,0.1);
      transition: background-color 0.06s ease;
    } footer .logo {
      width: 20rem;
    }

  }


























  @media (min-width:1400px) {

    .hambt {
      display:none;
    } .nav_ctnr {
      color: var(--dark);
      flex-direction: revert;
      align-self: center;
    } .nav_ctnr a {
      border: none;
      margin: 0;
      padding: 0.6rem clamp(1rem, 1.5vw, 1.4rem);
      transition: background-color 0.5s ease;
      background-color: var(--light);
      border: 0.1rem solid var(--c2b);
    } .nav_ctnr a:hover {
      background-color: var(--c2b);
      transition: background-color 0.06s ease;
    }
    header nav {
      opacity: 1;
      visibility: visible;
      background: none;
      border: none;
      box-shadow: none;
      top: unset;
      right: unset;
      left: unset;
      flex-direction: revert;
      align-self: stretch;
      justify-content: center;
      padding: 0;
      position: relative;
      gap: 4vw;
      width: clamp(45rem, calc(62vw - 10rem), 100rem);
      border-radius: unset;
      transform: translateY(5%);
      transition: unset;
    }  


  }

































  @media (min-width:1920px) {
    html {
        font-size:20px;
    }
  } @media (min-width:2440px) {
    html {
        font-size:24px;
    }
  } @media (min-width:3000px) {
    html {
        font-size:32px;
    }
  }


